.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea/sonarlint/
app/libs/
gastLibrary/build/generated/res/
gastLibrary/build/generated/source/aidl/
gastLibrary/build/generated/source/rs/
gastLibrary/build/intermediates/assets/
gastLibrary/build/intermediates/blame/
gastLibrary/build/intermediates/bundles/debug/aidl/
gastLibrary/build/intermediates/bundles/debug/assets/
gastLibrary/build/intermediates/bundles/debug/jni/
gastLibrary/build/intermediates/bundles/release/aidl/
gastLibrary/build/intermediates/bundles/release/assets/
gastLibrary/build/intermediates/bundles/release/jni/
gastLibrary/build/intermediates/dependency-cache/
gastLibrary/build/intermediates/incremental/compileDebugAidl/
gastLibrary/build/intermediates/incremental/compileDebugAndroidTestAidl/
gastLibrary/build/intermediates/incremental/compileReleaseAidl/
gastLibrary/build/intermediates/incremental/mergeDebugAndroidTestAssets/
gastLibrary/build/intermediates/incremental/mergeDebugAndroidTestResources/
gastLibrary/build/intermediates/incremental/mergeDebugAssets/
gastLibrary/build/intermediates/incremental/mergeDebugJniLibFolders/
gastLibrary/build/intermediates/incremental/mergeReleaseAssets/
gastLibrary/build/intermediates/incremental/mergeReleaseJniLibFolders/
gastLibrary/build/intermediates/incremental/packageDebugResources/
gastLibrary/build/intermediates/incremental/packageReleaseResources/
gastLibrary/build/intermediates/jniLibs/
gastLibrary/build/intermediates/lint/
gastLibrary/build/intermediates/manifest/
gastLibrary/build/intermediates/res/merged/
gastLibrary/build/intermediates/res/resources-debug-androidTest.ap_
gastLibrary/build/intermediates/rs/
gastLibrary/build/intermediates/transforms/
gastLibrary/build/tmp/compileDebugJavaWithJavac/
gastLibrary/build/tmp/compileReleaseJavaWithJavac/
